.NavBar {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.Links {
    color: #333333 !important;
    transform: translateZ(0);
    backface-visibility: hidden;
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

nav {
    box-shadow: 10px 6px 22px 4px rgba(0,0,0,0.75);
    z-index: 1;
}


.Links:before {
    text-decoration: none;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #802000;
    height: 2px;
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.Links:hover:before {
    text-decoration: none;
    right: 0;
}

@media (max-width: 767px) {
    .Links {
        padding: 15px 0;
        margin: 0;
    }
}
